<h2>All Sign Ups</h2>

<%# Display a list all of the campers %>
Camper Name | Activity | Time<br> 
<% @signups.map do |signup| %><br>
<%=link_to signup.full_info, signup_path(signup) %>
<%end%>
<p><%= button_to "New Sign Up", new_signup_path, method: :get %></p>