<h2>List of Camping Activities:</h2>

<%# Display a list all of the activities %>
<strong>Activity Name</strong> | <strong>Difficulty Level</strong><br> 
<ul>
    <% @activities.map do |activity| %><br>
    <li><%= activity.name%> - level: <%= activity.difficulty%></li>
<%end%>
</ul>
<p><%= button_to "Sign up", new_signup_path, method: :get %></p>


